@font-face {
    font-family: Pecita;
    src: url(fonts/pecita/pecita.otf) format(OpenType);
}

main > a {
    margin-left: 48px;
}

.return img {
    width: 16px;
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.return {
    transition: transform .2s;
}

.return:hover {
    font-weight: 600;
    transform: scale(1.05);
}

h1 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 56px;
    position: relative;
    left: -35px;
}

h1::before {
    content: '';
    display: inline-block;
    background-image: url(images/slash.svg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: relative;
    top: 16px;
}

section {
    margin-bottom: 48px;
}

h2 {
    width: 250px;
    padding: 16px;
    text-align: right;
}

.details {
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
}

.date-context, ol {
    border-left: 1px solid #000000;
    padding: 16px;
    width: calc(100% - 250px);
}

.date-context span {
    display: inline-block;
    font-weight: 200; /* Non pris en compte */
}

.technologies .icon {
    margin-bottom: 0px;
}

.date-technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    width: 90%;
}

.icon {
    width: 24px;
    margin-bottom: 8px;
}

.technologies {
    display: flex;
    align-items: center;
}

/* Pas de lien Github ici */
.github-link {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 8px;
}

.github-link:hover {
    font-weight: 600;
}

/* Fin lien Github */

#process {
    margin-bottom: 16px;
}

ol {
    list-style-type: none;
}

#process li {
    margin-left: 0px;
}

/* ? Pas besoin ici
.visuals {
    width: 80%;
    margin: auto;
}
*/

.presentation {
    width: 80%;
    margin: auto;
    position: relative;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 16px;
    text-align: left;
}

.first-part, .second-part, .third-part, .fourth-part {
    width: 100px;
    min-width: 80px;
    height: 100px;
    background-image: url(images/part-one.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.second-part {
    background-image: url(images/part-two.svg);
}

.third-part {
    background-image: url(images/part-three.svg);
}

.fourth-part {
    background-image: url(images/part-four.svg);
}

.presentation p, .presentation ul {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 8px;
}

main li {
    margin-left: 32px;
}

#part-two::before {
    background-image: url(images/part-two.svg);
}

#part-three::before {
    background-image: url(images/part-three.svg);
}

.persona, .moodboard {
    display: block;
    width: 560px; /* A modifier */
    border: 1px solid #d9d9d9;
    margin: 32px auto;
}


/* Grille */
.graphic-charter {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 25px 75px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo logo logo logo main-font main-font main-font secondary-font secondary-font"
    ". . . . . . . . ."
    "color-one color-two color-three color-four color-five color-six color-seven color-eight color-nine";
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid #d9d9d9;
    padding: 8px;
}

#logo-created {
    padding: 16px 32px;
    grid-area: logo;
    justify-content: center;
    align-items: center;
}

#logo-created img {
    width: 228px;
}

#logo-created, #color-one, #color-two, #color-three, #color-four, #color-five, #color-six, #color-seven, #color-eight, #color-nine {
    display: flex;
    flex-direction: column;
}

#color-one, #color-two, #color-three, #color-four, #color-five, #color-six, #color-seven, #color-eight, #color-nine {
    font-weight: 600;
    text-transform: uppercase;
    align-items: flex-start;
    padding-left: 8px;
    justify-content: flex-end;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

#main-font, #secondary-font {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#color-one {
    grid-area: color-one;
    background-color: #000000;
    color: #ffffff;
}

#color-two {
    grid-area: color-two;
    background-color: #d9d9d9;
}

#color-three {
    grid-area: color-three;
    background-color: #9f65dc;
}

#color-four {
    grid-area: color-four;
    background-color: #ed55da;
}

#color-five {
    grid-area: color-five;
    background-color: #f1a30b;
}

#color-six {
    grid-area: color-six;
    background-color: #02d6ce;
}
#color-seven {
    grid-area: color-seven;
    background-color: #fdf346;
}

#color-eight {
    grid-area: color-eight;
    background-color: #fffafe;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#color-nine {
    grid-area: color-nine;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
}

#main-font {
    grid-area: main-font;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 600;
    padding-left: 8px;
    color: #ffffff;
    background: linear-gradient(#f1a30b, #ed55da);
}

#secondary-font {
    grid-area: secondary-font;
    font-family: Pecita, sans-serif;
    font-size: 32px;
    padding-left: 8px;
    color: #000000;
    background-color: #d9d9d9;
}

/* Fin de la grid spécifique */

/* Vues des maquettes */

.view-title {
    display: block;
    text-align: center;
    font-weight: 600;
    margin-top: 48px;
    margin-bottom: 32px;
}

.view-desktop .image, .view-tablet .image, .view-phone .image {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: auto;
    border: 24px solid #d9d9d9;
    outline: 1px solid #606060;
}

.view-desktop .image {
    width: 800px;
    height: 569px;
    margin-bottom: 56px;
    border-width: 36px 18px 36px 18px;
    border-radius: 18px;
}

.layout-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin: auto;
    margin-bottom: 56px;
}

.view-tablet .image {
    width: 350px;
    height: 500px;
    border-width: 24px 12px 24px 12px;
    border-radius: 12px;
}

.view-phone .image {
    width: 200px;
    height: 365px;
    border-width: 32px 8px 32px 8px;
    border-radius: 8px;
}

/* Liens externes */
.mock-up, .external-link {
    text-decoration: 3px underline #e5bdff;
}

.new-tab {
    width: 20px;
    position: relative;
    top: 4px;
    margin-left: 4px;
}

/* Pied de page */
.up {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 8px;
}

.up a {
    transition: transform .2s;
}

.up a:hover {
    transform: scale(1.1);
}

.up img {
    width: 48px;
}


@media screen and (max-width: 1250px) {
    h2 {
        width: 200px;
    }

    .date-context, ol {
        border-left: 1px solid #000000;
        padding: 16px;
        width: calc(100% - 200px);
    }
    
}

@media screen and (max-width: 1000px) {

    h1 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
    }

    section {
        width: 80%;
        margin: auto;
        margin-bottom: 48px;
    }

    .date-technologies {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    .date-context span {
        margin-bottom: 8px;
    }


    h2 {
        width: 160px;
    }
     
    .details {
        width: 100%;
    }

    .first-part, .second-part, .third-part {
        width: 80px;
    }

    h3 {
        width: 80%;
    }

    /* Spécifique à la maquette to do list 
    .graphic-charter {
        width: 560px;
        margin: auto;
        display: grid;
        grid-template-rows: auto 25px 75px 25px 75px 75px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo logo logo logo"
        ". . . . ."
        "main-font main-font main-font secondary-font secondary-font"
        ". . . . ."
        "color-one color-two color-three color-four color-five"
        "color-six color-seven color-eight color-nine .";
        margin-top: 32px;
    }
    */

    .view-desktop {
        width: 560px;
        margin: auto;
    }

    .view-desktop .image {
        width: 560px;
        height: 400px;
    }
    
    .view-desktop img {
        width: 100%;
    }

    .layout-row {
        width: 560px;
        flex-wrap: wrap;
    }

    .layout-row .view-title {
        margin-top: 16px;
    }
    
    .view-tablet, .view-phone {
        width: 100%;
        align-items: center;
    }

    .view-phone {
        margin-top: 56px;
    }
    
}

@media screen and (max-width: 700px) {
    
    h1 {
        font-size: 24px;
        left: -20px;
        margin-bottom: 48px;
        width: 70%;
    }

    h1::before {
        width: 40px;
        height: 40px;
        top: 6px;
    }

    .date-context span {
        margin-bottom: 0;
    }

    h2 {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    section {
        margin-bottom: 16px;
    }
    
    .details {
        flex-direction: column;
    }

    .date-context, ol {
        width: 100%;
        border-left: 0px;
    }

    .date-context, .details ol {
        border-top: 1px solid #000000;
    }

    .details ol {
        text-align: center;
    }

    .date-technologies {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        width: 100%;
    }

    h3 {
        font-size: 18px;
    }

    .presentation p, .presentation ul {
        margin-left: 16px;
        margin-right: 16px;
    }

    .persona, .moodboard {
        width: 95%;
    }

    /* Spécifiques à la to do list
    .persona, .graphic-charter {
        width: 95%;
    }

    .graphic-charter [id|="color"] {
        font-size: 14px;
    }

    .graphic-charter #main-font {
        font-size: 27px;
    }

    .graphic-charter #quote-font {
        font-size: 24px;
        line-height: 40px;
    }
    */

    .view-desktop {
        width: 450px;
    }

    .view-desktop .image {
       width: 450px;
       height: 320px;
       border-width: 24px 12px 24px 12px;
       border-radius: 12px;
    }

    .view-desktop img {
        width: 100%;
    }

    .layout-row {
        width: 450px;
    }

}

@media screen and (max-width: 565px) {

    h1 {
        font-size: 22px;
        left: -10px;
    }

    h3 {
        width: 90%;
    }

    /* Spécifique à la to do list
    .graphic-charter {
        margin: auto;
        display: grid;
        grid-template-rows: auto 25px 75px 25px 75px 75px 75px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo logo"
        ". . ."
        "main-font main-font secondary-font"
        ". . ."
        "color-one color-two color-three"
        "color-four color-five color-six"
        "color-seven color-eight color-nine";
        margin-top: 32px;
    }

    #logo-created {
        border: 1px solid #d9d9d9;
    }

    #secondary-font {
        font-size: 26px;
    }
        */
    
    .view-desktop {
        width: 300px;
    }

    .view-desktop .image {
        width: 300px;
        height: 214px;
        border-width: 16px 8px 16px 8px;
        border-radius: 8px;
    }

    .layout-row {
        width: 300px;
        margin-bottom: 32px;
    }

    .layout-row .view-title {
        margin-top: 0px;
    }

    .view-tablet {
        width: 260px;
    }

    .view-tablet .image {
        width: 260px;
        height: 370px;
    }

    .view-phone {
        width: 200px;
    }

    .view-phone .image {
        width: 200px;
        height: 360px;
        /* margin-bottom: 48px; */
    }

    .up {
        justify-content: center;
        margin-right: 0;
    }

}
